# Node modules
node_modules/

# Prettier cache
node_modules/.cache/

# Python build artifacts
build/
dist/
.venv/
venv/
*.pyc
__pycache__/
.idea/

# Sphinx build
docs/_build/

# Coverage reports

.coverage
